<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
 	http://cxf.apache.org/jaxrs
 	http://cxf.apache.org/schemas/jaxrs.xsd
	http://cxf.apache.org/core
	http://cxf.apache.org/schemas/core.xsd
 	http://cxf.apache.org/jaxws
 	http://cxf.apache.org/schemas/jaxws.xsd
 	http://www.springframework.org/schema/context
 	http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<context:component-scan base-package="com.mycompany.apache.cxf.rest" />
	<context:property-placeholder location="classpath:app.properties"/>

	<cxf:bus>
		<cxf:features>
			<bean class=" org.apache.cxf.feature.LoggingFeature">
				<property name="prettyLogging" value="${cxf.prettyLogging}" />
			</bean>
		</cxf:features>
	</cxf:bus>

	<jaxrs:server id="customerService" address="/customerServices">
		<jaxrs:providers>
			<ref bean="jaxbJsonProvider" />
		</jaxrs:providers>
		<jaxrs:serviceBeans>
			<ref bean="customerServiceImpl" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="xml" value="application/xml" />
			<entry key="json" value="application/json" />
		</jaxrs:extensionMappings>
	</jaxrs:server>

	<bean id="jaxbJsonProvider"
		class="com.fasterxml.jackson.jaxrs.json.JacksonJaxbJsonProvider">
		<property name="mapper" ref="objectMapper"></property>
	</bean>

	<bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
		<property name="dateFormat">
			<bean class="java.text.SimpleDateFormat">
				<constructor-arg value="yyyy-MM-dd" />
				<property name="lenient" value="false" />
			</bean>
		</property>
		<property name="serializationInclusion">
			<value type="com.fasterxml.jackson.annotation.JsonInclude.Include">
				NON_NULL
			</value>
		</property>
	</bean>

	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject">
			<ref bean="objectMapper" />
		</property>
		<property name="targetMethod">
			<value>${pretty.logging}</value>
		</property>
		<property name="arguments">
			<value type="com.fasterxml.jackson.databind.SerializationFeature">
				INDENT_OUTPUT
			</value>
		</property>
	</bean>
</beans>